.textContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  overflow-y: auto; /* 수직 스크롤바 표시 */
  max-width: 100%; /* 최대 너비 설정 */
  height: 300px; /* 예시 높이 값 */
}

.textItem {
  padding: 5px 0;
  cursor: pointer; /* 텍스트 항목에 마우스를 올렸을 때 포인터로 변경 */
}

.boldText {
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
}
